{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
   <!-- Custom styles -->
    <link rel="stylesheet" href="{% static '/CSS/help.css' %}">
    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css" rel="stylesheet">



{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static '/CSS/help.css' %}">
<section id="faq">
        <div class="container" style="font-family: 'Roboto', sans-serif;position: relative;">
            <div class="heading-wrapper">
                <h2><b>Frequently asked questions</b></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non mi massa. Morbi maximus tempus
                    sapien sed lacinia.</p>
            </div>
            <div id="accordion" class="topmargin-lg">
                <div class="card">
                    <div class="card-header" id="headingOne" style="background:#ffffff;">
                        <h5 class="mb-0" style="font-family: 'Montserrat', sans-serif;font-weight: 700;color: #282c47;">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <i class="icon ion-md-add-circle"></i> <b>What are my payment options?</b>
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion" style="">
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non mi massa. Morbi maximus
                            tempus sapien sed lacinia. Ut feugiat libero non sollicitudin pharetra. Integer scelerisque
                            sapien non felis porta, ac maximus neque malesuada.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo" style="background:#ffffff;">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="icon ion-md-add-circle"></i> <b>Can I upgrade my plan?</b>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non mi massa. Morbi maximus
                            tempus sapien sed lacinia. Ut feugiat libero non sollicitudin pharetra. Integer scelerisque
                            sapien non felis porta, ac maximus neque malesuada.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree" style="background:#ffffff;">
                        <h5 class="mb-0" style="font-family: 'Montserrat', sans-serif;font-weight: 700;color: #282c47;">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                <i class="icon ion-md-add-circle"></i> <b>Can I cancel my plan at anytime?</b>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion" style="">
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non mi massa. Morbi maximus
                            tempus sapien sed lacinia. Ut feugiat libero non sollicitudin pharetra. Integer scelerisque
                            sapien non felis porta, ac maximus neque malesuada.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}