{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}<h1 class="my-con1">Login Page</h1>{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
{% endblock %}


{% block content %}

    {% if message %}
    {{ message }}
    {% endif %}
    <div class="card">
        <div class="card-body p-5">
            <div class="form-group">
                <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group col-md-12 mb-4">
                            <input type="text" required="required" class="form-control input-lg" name="{{ field.label }}" placeholder="{{ field.label }}">
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-lg btn-primary btn-block mb-4">Login</button>
                </form>
                <h2 class="my-href pull-right">
                    <a href="/privileges/register" >Register Link</a>
                </h2>

            </div>
        </div>
    </div>

{% endblock %}