{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}<h1 class="my-con1"><! Account Profile Info Page > </h1>{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static '/CSS/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="content">
            <div class="bg-white border rounded">
                <div class="row no-gutters">
                    <div class="col-lg-4 col-xl-3">
                        <div class="profile-content-left pt-5 pb-3 px-3 px-xl-5">
                            <div class="card text-center widget-profile px-0 border-0">
                                <div class="card-img mx-auto rounded-circle">
                                    <img src="/static/img/not_login_user.jpg" class="img-circle" alt="User Image" />
                                </div>
                                <div class="card-body">
                                    <h4 class="py-2 text-dark">{{ request.user.username }}</h4>
                                    <p>{{ request.user.email }}</p>
                                </div>
                            </div>

                            <hr class="w-100">
                            <div class="contact-info pt-4">
                                <h5 class="text-dark mb-1">Contact Information</h5>
                                <p class="text-dark font-weight-medium pt-4 mb-2">Email address</p>
                                <p>{{request.user.email}}</p>
                                <p class="text-dark font-weight-medium pt-4 mb-2">Phone Number</p>
                                <p>{{telephone}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xl-9">
                        <div class="profile-content-right py-5">
                            <ul class="nav nav-tabs px-3 px-xl-5 nav-style-border" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="changePassword-tab" data-toggle="tab" href="#changePassword" role="tab" aria-controls="cpw" aria-selected="false">Change Password</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
                                </li>
                            </ul>
                            <div class="tab-content px-3 px-xl-5" id="myTabContent">
                                <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="card-body">
                                        <form method="post" action="#!" class="site-form">
                                            <div class="form-group">
                                                <label for="username">用户名</label>
                                                <input type="text" class="form-control" name="username" id="username" value="{{request.user.username}}" disabled="disabled">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">邮箱</label>
                                                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" value="{{request.user.email}}" disabled="disabled">
                                            </div>
                                            <div class="form-group">
                                                <label for="username">公司</label>
                                                <input type="text" class="form-control" name="org" id="org" value="{{org}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="username">联系方式</label>
                                                <input type="text" class="form-control" name="telephone" id="telephone" value="{{telephone}}">
                                            </div>
                                            <button type="submit" class="btn btn-primary" name="profile_change">保存</button>
                                        </form>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="changePassword" role="tabpanel" aria-labelledby="changePassword-tab">
                                    <div class="col-lg-12">
                                        {{message}}
                                        <div class="card-body">
                                            <form method="post" action="#!" class="site-form">
                                                <div class="form-group">
                                                    <label for="username">旧密码</label>
                                                    <input type="password" class="form-control" name="old_password" id="old_password" required="required" placeholder="请填写旧密码">
                                                </div>
                                                <div class="form-group">
                                                    <label for="username">新密码</label>
                                                    <input type="password" class="form-control" name="password1" id="password1" required="required" placeholder="请输入6-18位的密码">
                                                </div>
                                                <div class="form-group">
                                                    <label for="username">确认新密码</label>
                                                    <input type="password" class="form-control" name="password2" id="password2" required="required" placeholder="请再次输入密码">
                                                </div>
                                                <button type="submit" class="btn btn-primary" name="password_change">修改密码</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">...</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





{% endblock %}