{% extends "index.html" %}
{% block mainbody %}
{% load static %}
<div class="card card-default">
	<div class="card-header card-header-border-bottom">
		<h2>提交任务</h2>
	</div>

	<div class="card-body">
		<form action="." method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<table>
			{% for field in form %}
				<tr>
					<td>{{ field.label_tag }}</td>
					<td>{{ field }}</td>
					<td>{{ field.errors }}</td>
				</tr>
			{% endfor %}
			</table>
			<div class="form-group">
				<label for="">项目名称：</label>
				<input type="text" class="form-control" placeholder="Name for the job,need to be unique.Value must match the pattern ^[A-Za-z0-9-._]+$" name="title". id="'title" required="required">
			</div>
			<div class="row">
				<div>
					镜像：
					<select class="custom-select" name="img" required="required">
						<option value="One">One</option>
						<option value="Two">Two</option>
						<option value="Three">Three</option>
					</select>
				</div>
				<div>
					GPU类型：
					<select class="custom-select" name="gpu" required="required">
						<option value="gtx1080ti">gtx1080ti</option>
						<option value="Two">Two</option>
						<option value="Three">Three</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label>项目简介：</label>
				<textarea class="form-control" placeholder="请输入对项目的简单描述" rows="5" name="description", id="description" required="required"></textarea>
			</div>
			<div class="form-group">
				<label for="">retryCount：</label>
				<input type="text" class="form-control" placeholder="Job retry count,job will automatically restart when it failed" name="retrycount", id="retrycount" required="required">
			</div>
			<div class="form-group">
				<label for="exampleFormControlSelect12">选择数据集</label>
				<select class="form-control" name="dataset" required="required">
					<option value="cifar-20">cifar-20</option>
					<option value="cifar-100">cifar-100</option>
				</select>
			</div>
			<div class="form-group">
				<label for="exampleFormControlSelect12">评测指标</label>

<!-- 				<select class="form-control" name="evaluate">
					<option>准确度</option>
					<option>决策边界距离</option>
					<option>敏感度</option>
					<option>attention map</option>
				</select> -->
				<label class="control outlined control-checkbox">准确度
					<input type="checkbox" />
					<div class="control-indicator"></div>
				</label>
				<label class="control outlined control-checkbox">决策边界距离
					<input type="checkbox" />
					<div class="control-indicator"></div>
				</label>
				<label class="control outlined control-checkbox">敏感度
					<input type="checkbox" />
					<div class="control-indicator"></div>
				</label>
				<label class="control outlined control-checkbox">图像对比结果
					<input type="checkbox" />
					<div class="control-indicator"></div>
				</label>

				<!-- class="form-control" name="ind">
					<option value="套餐一">套餐1</option>
					<option value="套餐二">套餐2</option>
				</select-->

			</div>
			<div class="form-group">
				<label for="exampleFormControlFile1">上传模型文件</label>
				<input type="file" class="form-control-file" name="model", placeholder="The name of your file should have the same name of your model" required="required">
			</div>
			<div class="form-footer pt-4 pt-5 mt-4 border-top">
				<button type="submit" class="btn btn-primary btn-default" name="submit_btn" onclick="submit_query()">Submit</button>
				<!--button type="submit" class="btn btn-primary">完成</button-->
			</div>
		</form>

	</div>
</div>
<script>
function submit_query(btn){
	var get_percent = setInterval(function(){
		var status_url = "/management/waiting/show_status";
		$.getJSON(status_url, function(res){
			$("#prog_in").width(res + '%');
		});
	}, 1000);
	var waiting_url = "/management/waiting"
	$.getJSON(waiting_url, function(res){
		clearInterval(get_percent);
		$("#prog_out").attr("class", "progress progress-bar-success");
	});
}
</script>
{% endblock %}